/* Scrollbar Track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(156, 183, 197, 1); /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Color of the scrollbar handle on hover */
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background-color: transparent; /* Color of the scrollbar corner */
  }
  